<section class="cart-modal">
  <p class="cart-title">Cart</p>
  <hr />
  @if(productCount() > 0 && productService.isCartActive()) {
  <div class="card-modal__detal-button-wrapper">
    <div class="detail">
      <img
        src="{{ productDetails.image }}"
        alt="cart thumbnail product image"
        class="cart-thumbnail-icon"
      />
      <div class="info">
        <p>{{ productDetails.title }}</p>
        <div class="price">
          <p class="item-price">${{ productDetails.price.toFixed(2) }}</p>
          <p class="count">x {{ productCount() }}</p>
          <p class="total-price">${{ totalPrice.toFixed(2) }}</p>
        </div>
      </div>
      <img
        src="/icon-delete.svg"
        alt="delete icon"
        class="delete-icon"
        (click)="onEmptyCart()"
      />
    </div>
    <button class="checkout-btn">Checkout</button>
  </div>
  } @else {
  <div class="empty-cart-detail">
    <p class="empty-cart-note">Your cart is empty.</p>
  </div>
  }
</section>
