section {
  position: relative;
  z-index: 9;
}

.hero-wrapper {
  position: relative;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  /* padding-bottom: 1.5rem; */
}

.arrow-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.arrow-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--white);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.lightbox__thumbnail-gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.9375rem;
  margin-top: 2rem;
}

.lightbox__thumbnail-gallery img {
  border-radius: 10px;
  cursor: pointer;
}

.active {
  border: 2px solid var(--orange);
  opacity: 0.5;
}

.lightbox-active {
  border: 2px solid var(--orange);
  filter: brightness(1.2);
}

.lightbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 34.375rem;
}

.lightbox__thumbnail-gallery {
  width: 27.8125rem;
  justify-self: center;
}

.lightbox__arrow-left-wrapper {
  left: 0;
  transform: translate(-50%, -50%);
}

.lightbox__arrow-right-wrapper {
  right: 0;
  transform: translate(50%, -50%);
}

.close-btn {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -1.5rem;
  right: 0;
  cursor: pointer;
}

.close-btn path {
  fill: var(--white);
}

.close-btn:hover path {
  fill: var(--orange);
}

.lightbox__thumbnail-gallery img:hover {
  filter: brightness(1.1);
}
